/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  padding: 0;
  background-color: #1e3a36;
  color: white;
}